@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
}
